<div class="card-group">
<div class="card" style="width: 18rem;">
  <img src="../assets/{{C.Equipe1}}.png" class="card-img-top" alt="Equipe img" height="500px">
  <div class="card-body">
    <h5 class="card-title">{{C.Equipe1}}</h5>
  </div>
 
  
</div>

 

<div class="card" style="width: 18rem;">
  <img src="../assets/{{C.Equipe2}}.png" class="card-img-top" alt="..."  height="500px">
  <div class="card-body">
    <h5 class="card-title">{{C.Equipe2}}</h5>
  </div>
 
  
</div>
<div class="vl"></div>
</div>



<br><br>
<hr>
<div class="card-group">
   
  <div class="card text">
  <div class="card-body">
  
    <h5 class="card-title">Arbitre</h5>
    <p class="card-text">{{C.Arbitre}}</p>
    <h5 class="card-title">Stadium</h5>
    <p class="card-text">{{C.Stade}}</p>
  </div>
</div>
</div>